.body{
    background-color: rgb(248, 244, 244);
}

.form_body{
    align-items: center;
    background-color: #86b6f5;
    margin: 60px 60px 60px 60px;
    padding: 10px 40px 40px 40px;
    font-size: 40px;
    border: 1px 1px 1px 1px #0b0c0c;
    border-radius: 20px;
}

.head{
    text-align: center;
}

input[type=radio]{
    /* size: 40px;
     */
     height: 25px;
     width: 25px;
}




input[type=radio]{
    size: 40px;
}

input[type=number]
{
    border: none;
    border-bottom: 2px solid white;
    vertical-align: middle;
    height: 40px;
    width: 25%;
    
}

input[type=tel]
{
    border: none;
    border-bottom: 2px solid white;
    vertical-align: middle;
    height: 40px;
    width: 25%;
}

input[type=email]
{
    border: none;
    border-bottom: 2px solid white;
    vertical-align: middle;
    height: 40px;
    width: 25%;
}

.calendar.popup {
    max-width: 140px;
  }
  div#cid_4 {
    width: calc(37% - 14px);
  }
  .calendar-new-month {
    padding-right: 8%;
  }
  .calendar-new-year {
    padding-right: 8%;
  }

.sbtn{
    /* align-content: center; */
    display: flex;
    padding-top: 80px;
    display: grid;
}

.sbn{
    margin: auto;
font-size: 25px;
padding: 20px 60px 20px 60px;
border-radius: 20px;
text-align: center;
}

input[type=date]
{
    border: none;
    size: 30px;
    border-bottom: 2px solid white;
    vertical-align: middle;
    height: 40px;
    width: 25%;
}

.tab{
    /* display: block;
    margin-right: 40px; */
    padding-left: 80px;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 2px solid white;
    vertical-align: middle;
    height: 40px;
    width: 25%;
    margin: 0; 
} */

input{
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
    border-radius: 15px;
    font-size: 30px;
}

.tble{
    border: 1px;
    text-align: center;
    /* padding: 20px 20px 20px 20px; */
}

th{
    height: 40px;
    width: 160px;
}

td{
    height: 40px;
    width: 160px;
}

.tb{
    /* width: inherit; */
    width: 1060px;
    margin: 0px;
}

input[type=text]{
    /* align-items: center; */
    vertical-align: middle;
    border: none;
    border-bottom: 2px solid white;
    height: 40px;
    width: 25%;
}

select{
    font-size: 30px;
    border-radius: 15px;
    vertical-align: middle;
    height: 50px;
}

